version: 2.1

orbs:
  win: circleci/windows@5.0

jobs:
  build:
    executor:
      name: win/default
      size: large
    steps:
      - checkout
      - run: Write-Host 'Hello, Windows'

workflows:
  version: 2
  build_and_test:
    jobs:
      - build